CONFIG_RISCV=y
CONFIG_SYS_DCACHE_OFF=y
# CONFIG_SPL_USE_ARCH_MEMCPY is not set
# CONFIG_SPL_USE_ARCH_MEMMOVE is not set
# CONFIG_SPL_USE_ARCH_MEMSET is not set
CONFIG_TEXT_BASE=0xa0000000
CONFIG_SYS_MALLOC_LEN=0x3000
CONFIG_SYS_MALLOC_F_LEN=0x3000
CONFIG_NR_DRAM_BANKS=1
CONFIG_SPL_LDSCRIPT="arch/$(ARCH)/cpu/ast2700/u-boot-spl.lds"
CONFIG_HAS_CUSTOM_SYS_INIT_SP_ADDR=y
CONFIG_CUSTOM_SYS_INIT_SP_ADDR=0x14ba6800
CONFIG_ENV_SIZE=0x20000
CONFIG_DEFAULT_DEVICE_TREE="ast2700-ibex"
CONFIG_SPL_TEXT_BASE=0x14b80a00
CONFIG_DM_RESET=y
CONFIG_SPL_MMC=y
CONFIG_SPL_SIZE_LIMIT=0x21a00
CONFIG_SPL=y
CONFIG_SYS_MEM_TOP_HIDE=0x10000000
CONFIG_SYS_LOAD_ADDR=0x83000000
CONFIG_BUILD_TARGET=""
CONFIG_TARGET_ASPEED_AST2700=y
CONFIG_FMC_SPECIFIC_OPTIONS=y
CONFIG_SPI_ASPEED_DMA=y
CONFIG_EXTRST_MASK_DEFAULT_INIT=y
CONFIG_ASPEED_EXPORT_LOADER=y
CONFIG_EXPORT_SYMBOL_SIZE=0x100
# CONFIG_RISCV_ISA_F is not set
# CONFIG_RISCV_ISA_A is not set
# CONFIG_SPL_SMP is not set
CONFIG_XIP=y
CONFIG_SPL_XIP=y
# CONFIG_AVAILABLE_HARTS is not set
CONFIG_STACK_SIZE_SHIFT=12
CONFIG_ENV_VARS_UBOOT_CONFIG=y
# CONFIG_SYS_MALLOC_CLEAR_ON_INIT is not set
CONFIG_STACK_SIZE=0x100000
CONFIG_FIT=y
CONFIG_SPL_FIT_SIGNATURE=y
CONFIG_SPL_LOAD_FIT=y
CONFIG_SPL_LOAD_FIT_ADDRESS=0x20100000
CONFIG_SPL_FIT_IMAGE_POST_PROCESS=y
# CONFIG_BOOTSTD is not set
# CONFIG_ARCH_FIXUP_FDT_MEMORY is not set
# CONFIG_CONSOLE_FLUSH_SUPPORT is not set
# CONFIG_CONSOLE_MUX is not set
CONFIG_SYS_STDIO_DEREGISTER=y
CONFIG_BOARD_LATE_INIT=y
CONFIG_SPL_MAX_SIZE=0x21e00
CONFIG_SPL_BSS_START_ADDR=0x14ba6800
CONFIG_SPL_BSS_MAX_SIZE=0x1000
CONFIG_SPL_SHOW_ERRORS=y
# CONFIG_SPL_RAW_IMAGE_SUPPORT is not set
CONFIG_SYS_MMCSD_RAW_MODE_U_BOOT_USE_SECTOR=y
CONFIG_SYS_MMCSD_RAW_MODE_U_BOOT_SECTOR=0x800
CONFIG_SPL_FIT_IMAGE_TINY=y
CONFIG_SPL_MMC_TINY=y
CONFIG_SPL_XIP_SUPPORT=y
CONFIG_SPL_DM_RESET=y
CONFIG_SPL_RAM_SUPPORT=y
CONFIG_SPL_RAM_DEVICE=y
CONFIG_SPL_SATA=y
CONFIG_SPL_SATA_RAW_U_BOOT_USE_SECTOR=y
CONFIG_SPL_SATA_RAW_U_BOOT_SECTOR=0x100
CONFIG_SPL_WATCHDOG=y
CONFIG_SPL_YMODEM_SUPPORT=y
CONFIG_SPL_ASPEED_LOADER_SUPPORT=y
CONFIG_SYS_CBSIZE=256
CONFIG_SYS_PBSIZE=276
# CONFIG_CMD_BOOTD is not set
# CONFIG_CMD_BOOTI is not set
# CONFIG_BOOTM_LINUX is not set
# CONFIG_BOOTM_NETBSD is not set
# CONFIG_BOOTM_PLAN9 is not set
# CONFIG_BOOTM_RTEMS is not set
# CONFIG_BOOTM_VXWORKS is not set
CONFIG_SYS_BOOTM_LEN=0x4000000
# CONFIG_CMD_ELF is not set
# CONFIG_CMD_FDT is not set
# CONFIG_CMD_IMI is not set
# CONFIG_CMD_XIMG is not set
# CONFIG_CMD_SAVEENV is not set
# CONFIG_CMD_CRC32 is not set
# CONFIG_CMD_LOADS is not set
CONFIG_CMD_SYSBOOT=y
# CONFIG_CMD_OTP is not set
CONFIG_DEVICE_TREE_INCLUDES="ast2700-u-boot.dtsi"
# CONFIG_OF_TAG_MIGRATE is not set
CONFIG_SYS_RELOC_GD_ENV_ADDR=y
# CONFIG_NET is not set
CONFIG_SYS_RX_ETH_BUFFER=2
# CONFIG_DM_WARN is not set
# CONFIG_DM_DEVICE_REMOVE is not set
# CONFIG_DM_SEQ_ALIAS is not set
CONFIG_SPL_OF_TRANSLATE=y
# CONFIG_BLOCK_CACHE is not set
CONFIG_SPL_CLK=y
CONFIG_CLK_AST2700=y
# CONFIG_CPU is not set
CONFIG_DM_HASH=y
CONFIG_ASPEED_RSSS=y
CONFIG_ASPEED_CPTRA_SHA=y
CONFIG_ASPEED_CPTRA_ECDSA=y
# CONFIG_GPIO is not set
# CONFIG_I2C is not set
CONFIG_SPL_ASPEED_VBIOS=y
CONFIG_SPL_ASPEED_VGA=y
CONFIG_ASPEED_VGA=y
CONFIG_SPL_ASPEED_DP=y
CONFIG_SPL_ASPEED_EDAF_BRIDGE=y
CONFIG_SLI_TARGET_PHYCLK_1GHZ=y
CONFIG_SLI_K_ON_CPU=y
CONFIG_SPL_PRIVILEGE_CTRL=y
# CONFIG_SPL_ASPEED_UFS is not set
CONFIG_SPL_ASPEED_I3C=y
CONFIG_SPL_ASPEED_USB=y
# CONFIG_SPL_ASPEED_I2C is not set
CONFIG_MMC=y
CONFIG_SUPPORT_EMMC_BOOT=y
CONFIG_MMC_SDHCI=y
CONFIG_MMC_SDHCI_ASPEED=y
# CONFIG_MTD is not set
CONFIG_USE_SYS_MAX_FLASH_BANKS=y
CONFIG_SYS_MAX_FLASH_BANKS=2
# CONFIG_POWER is not set
CONFIG_RAM=y
CONFIG_SPL_RAM=y
CONFIG_ASPEED_RAM=y
CONFIG_ASPEED_MPU=y
# CONFIG_RAM_SIFIVE is not set
CONFIG_RESET_AST2700=y
CONFIG_SCSI=y
CONFIG_DM_SCSI=y
CONFIG_SYS_NS16550=y
CONFIG_SYS_NS16550_MEM32=y
CONFIG_ASPEED_OTP=y
# CONFIG_TIMER is not set
CONFIG_UFS=y
CONFIG_ASPEED_UFS=y
# CONFIG_VIDEO_LOGO is not set
# CONFIG_SPL_WDT is not set
CONFIG_ASPEED_FMC_HEADER=y
CONFIG_SPL_TINY_MEMSET=y
CONFIG_ECDSA=y
CONFIG_SPL_ECDSA_VERIFY=y
CONFIG_SHA384=y
CONFIG_SPL_LZ4=y
# CONFIG_EFI_LOADER is not set
